{% include 'pageHeader.twig' with { 'pageTitle' : 'Dashboard' } %}

<div class="row">
	<div class="col-sm-4 col-lg-3">
		{% if SESSION.loggedIn %}
			{% include 'include/dashboard.sidebar.twig' with { 'sidebar' : 'dashboard' } %}
		{% else %}
		<div class="well">
			<span>Please <a href="/login">login</a> to use all features.</span>
		</div>
		{% endif %}
	</div>
	<div class="col-sm-8 col-lg-9">
		<div class="well">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br><br>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<br><br>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
		<div class="container-list well">
			<div class="media">
				<div class="media-left">
					<span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:24px;"></span>
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						<a href="/members/online">Users Online</a><br>
						<small>{{ memberOnlineCount|number_format }} Members{% if false %} (0 invisible){% endif %} and {{ guestOnlineCount|number_format }} Guests <!--- Record: 212 Users (May 19th 2014)--></small>
					</h4>
					<p>{% for member in memberOnlineList %}<a href="/members/profile/{{ member.username }}">{{ member.username }}</a>{{ loop.last ? '' : ', ' }}{% endfor %}</p>
				</div>
			</div>
			<hr style="margin:0;">
			<div class="media">
				<div class="media-left">
					<span class="glyphicon glyphicon-stats" aria-hidden="true" style="font-size:24px;"></span>
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						<span>Statistics</span><br>
						<small>{{ memberTotalCount|number_format }} Members - {{ wallPostTotalCount|number_format }} Wall Posts</small>
					</h4>
					<p>Latest Member: <a href="/members/profile/{{ latestMember.username }}">{{ latestMember.username }}</a></p>
				</div>
			</div>
		</div>
	</div>
</div>