<button type="button" class="btn btn-default btn-sm right visible-xs" data-toggle="collapse" data-target="#sidebar" aria-expanded="false" aria-controls="navbar"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>

{% include 'pageHeader.twig' with { 'pageTitle' : 'mata.global.notifications'|lang } %}

<div class="row">
	<div class="col-sm-4 col-lg-3 collapse collapse-xs" id="sidebar">
		{% include 'include/dashboard.sidebar.twig' with { 'sidebar' : 'notifications' } %}
	</div>
	<div class="col-sm-8 col-lg-9">
		{% if notifications == false %}
		<div class="alert alert-info" role="alert">
			<p>{{ 'mata.user.notification.no'|lang }}</p>
		</div>
		{% else %}
		<div class="notifications">
			<header class="head">
				<h4 class="left">{{ 'mata.date.period.today'|lang }}</h4>
				<a href="/" class="btn btn-default btn-sm right" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ 'mata.user.notification.markAllAsRead'|lang }}</a>
			</header>
			{% for notification in notifications if notification.timeTriggered|date('Y-m-d') == now|date('Y-m-d') %}
				{% include 'include/notifications.entry.twig' %}
			{% else %}
				<div class="alert alert-default" role="alert">
					<p>{{ 'mata.user.notification.no'|lang }}</p>
				</div>
			{% endfor %}
		</div>
		<div class="notifications">
			<header class="head">
				<h4>{{ 'mata.date.period.yesterday'|lang }}</h4>
			</header>
			{% for notification in notifications if notification.timeTriggered|date('Y-m-d') == now|date_modify("-1 day")|date('Y-m-d') %}
				{% include 'include/notifications.entry.twig' %}
			{% else %}
				<div class="alert alert-default" role="alert">
					<p>{{ 'mata.user.notification.no'|lang }}</p>
				</div>
			{% endfor %}
		</div>
		<div class="notifications">
			<header class="head">
				<h4>{{ 'mata.date.period.older'|lang }}</h4>
			</header>
			{% for notification in notifications if notification.timeTriggered|date('Y-m-d') == now|date_modify("-2 day")|date('Y-m-d') %}
				{% include 'include/notifications.entry.twig' %}
			{% else %}
				<div class="alert alert-default" role="alert">
					<p>{{ 'mata.user.notification.no'|lang }}</p>
				</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>

<style type="text/css">
.notifications > div.entry { 
	width: 100%;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
	background-color: #fff;
}
.notifications > div.entry:nth-child(even) { 
	background-color: #f9f9f9;
}
.notifications > div.entry:hover { background-color: #ecf0f1; }
.notifications > div.entry:first-of-type { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.notifications > div.entry:last-of-type { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom: 1px solid #ddd; margin-bottom: 20px; }
.notifications > div.entry > div { padding: 5px; }
.notifications > div.entry > hr { margin: 2px; }
.notifications > div.entry img { width: 40px; height: 40px; }
.notifications > header.head { display: block; width: 100%; overflow: auto; }

.notifications .media-heading { margin: 0; }
</style>