<ul class="pagination pagination-sm">
  <li><a href="/{{ REQUEST_PAGE }}/page/{{ (paginationActive <= 1 ? 1 : (paginationActive - 1)) }}">«</a></li>
  {% for i in 1..paginationCount %}
  <li{{ paginationActive == (i) ? ' class="active"' : '' }}><a href="/{{ REQUEST_PAGE }}/page/{{ i }}">{{ i }}</a></li>
  {% endfor %}
  <li><a href="/{{ REQUEST_PAGE }}/page/{{ ((paginationActive >= paginationCount) ? paginationCount : (paginationActive + 1)) }}">»</a></li>
</ul>